<%= form_for checklist, html: {role: "form"} do |checklist| %>
<div class="modal fade" id="createChecklist" tabindex="-1" role="dialog" aria-labelledby="createChecklistLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="createChecklistLabel">Add Checklist</h4>
      </div>
      <div class="modal-body">
          <p>
            <div class="form-group">      
            <%= checklist.text_field :title, class: 'form-control', placeholder: 'Enter Title'%>
            </div>
          </p>
        
          <p>
            <div class="form-group"> 
              <%= checklist.text_area :description, class: 'form-control', placeholder: 'Enter description'  %> 
               
            </div>
            
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= checklist.button :Save, class: 'btn btn-primary'  %>
      </div>
    </div>
  </div>
</div>
<% end %>


  
    
    

  
  
  

