<% content_for :title, "Home" %>
<h1> Checklists </h1>

<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createChecklist">
  Create Checklist
</button>

<%= render 'create_checklist_modal', checklist: @checklist %>

<hr>
<% if @checklists.size > 0 %>
  <table>
    <tr>
      <th> Title </th>
      <th> Actions </th>
    </tr>
  <% @checklists.each do |checklist| %>
    <tr>
      <td> <%= link_to checklist.title, checklist_path(checklist) %> </td>
      <td>
          <p>  
            <%= link_to 'Edit', edit_checklist_path(checklist) %> | 
            <%= link_to 'Delete', checklist_path(checklist), method: :delete, data: { confirm: 'Are you sure?' } %> 
          </p>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <h3> There are no checklists. </h3>
<% end %>
